/*GALLERY STYLE SHEET*/
.gallery-container {
	background-color: rgba(242, 242, 242,1.0)

}
/* Clear floats after image containers */
.gallery-container ::after {
    content: "";
    clear: both;
    display: table;
}
.gallery-description{
	padding-top: 3rem;
	padding-bottom: 1.5rem;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.gallery-container .gallery-content .image-container {
    float: left;
	padding : 5px 2.5px;
	width: 50%;
}


.image-container img{
    width:100%;
	 opacity: 0.8;
     cursor: pointer;
}



.image-container img:hover {
  opacity: 1;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.expand-image-container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
		.gallery-container .gallery-content .image-container {
		width: 50%;
        padding: 5px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.gallery-container .gallery-content .image-container {
		width: 33.33%;
		padding: 5px;
	}
}

/* large screens (laptops, 992px and up)*/
@media (min-width: 992px) {
.gallery-container .gallery-content .image-container {
		width: 25%;
	    padding: 5px;
	}
}

